/* LOGS */
.logs {
    flex-grow: 1;
}

.listLogs {
    overflow-y: auto;
    /* height: 100%; */
    width: 100%;
}
.logItem {
    display: grid;
    grid-template-columns: 400px 30px 400px 100px;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";
}

.logItem * {
    color : var(--text);
    text-align: center;
}
.logItem *:hover {
    color : var(--primary);
}

.logItem *:last-child {
    text-align: right;
    margin-right : 13px
}