/* LOGS */
.logs {
    height : 40vh;
    margin-bottom : 1rem;
}

.listLogs {
    width: 100%;
    height : 80%;
    overflow-y: auto;
    box-sizing : content-box;
    overflow-x: hidden;
    overflow-y: auto;
}
.logItem {
    display: grid;
    grid-template-columns: 400px 30px 400px 100px;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";
}

.logItem * {
    color : var(--text);
    text-align: center;
}
.logItem button:hover {
    color : var(--primary);
}

.logItem *:last-child {
    text-align: right;
    margin-right : 13px
}